<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.web.dao.factory.FactoryManagerDao">

	<sql id="allColWithoutId">
		`openId`,`factoryName`,`factorySize`,`factoryDesc`,`phone` ,remarks,`createTime` ,`updateTime`
	</sql>

	<sql id="allColumns">
		id, <include refid="allColWithoutId" />
	</sql>

	<insert id="insertFactoryInfo" parameterType="FactoryInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		factoryInfo(<include refid="allColWithoutId" />)
		VALUES (#{openId},#{factoryName}, #{factorySize},#{factoryDesc},#{phone},#{remarks},datetime('now'),datetime('now'))
	</insert>
	
	<insert id="insertImageInfo" parameterType="FactoryImage" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		factoryImage(factoryId,imagePath,isCore,createTime,updateTime)
		VALUES (#{factoryId},#{imagePath}, #{isCore},datetime('now'),datetime('now'))
	</insert>


	<update id="updateFactoryInfo" parameterType="FactoryInfo">
		UPDATE
			factoryInfo SET
				`openId`=#{openId},
				`factoryName`=#{factoryName},
				`factorySize`=#{factorySize},
		        `factoryDesc`=#{factoryDesc},
		        `phone`=#{phone},
		        `remarks`=#{remarks},
				 updateTime=datetime('now')
		WHERE id=#{id}
	</update>
	
	<delete id="deleteFactoryInfoById" parameterType="Integer">
		DELETE FROM
		factoryInfo WHERE id=#{id}
	</delete>

	<delete id="deleteImageInfoById" parameterType="Integer">
		DELETE FROM
		factoryImage WHERE id=#{id}
	</delete>

	<sql id="queryWhere">
		FROM
		factoryInfo
		<where>
			<if test="factoryName != null and factoryName != ''">
				AND factoryName = #{factoryName}
			</if>
		</where>
	</sql>


	<sql id="queryOrderPage">
		<if test="orderBy != null and orderBy != ''">
			ORDER BY ${orderBy}
			<if test="order != null and order != ''">
				${order}
			</if>
		</if>
		<if test="size != null and size != 0">
			LIMIT #{start}, #{size}
		</if>
	</sql>
	
	<select id="queryByPage" parameterType="FactoryInfo" resultType="FactoryInfo">
		SELECT <include refid="allColumns"></include>
		<include refid="queryWhere"></include>
		<include refid="queryOrderPage"></include>
	</select>

	<select id="queryTotalCount" parameterType="FactoryInfo" resultType="long">
		SELECT COUNT(1)
		<include refid="queryWhere"></include>
	</select>

	<select id="queryAllFactoryInfo"   resultType="FactoryInfo">
		SELECT a.id,a.`openId`,a.`factoryName`,a.`factorySize`,a.`factoryDesc`,a.`phone` ,a.remarks,a.`createTime` ,a.`updateTime` ,b.imagePath
		FROM factoryInfo a left join  factoryImage b on a.id = b.factoryId
	</select>

	<select id="queryFactoryImages" parameterType="FactoryImage"  resultType="FactoryImage">
		SELECT id, factoryId,imagePath,isCore,createTime,updateTime
		FROM
		factoryImage
		<where>
			<if test="isCore != null and isCore != ''">
				AND isCore = #{isCore}
			</if>
			<if test="factoryId != null and factoryId != ''">
				AND factoryId = #{factoryId}
			</if>
		</where>
	</select>
</mapper>
